<a href="https://colab.research.google.com/github/arsengir/colab/blob/main/pandas_gleb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists

https://drive.google.com/file/d/1ABGqH_mdeCAqYpI3iI-DTkzN9u02txeh/view?usp=drivesdk

In [ ]:
! gdown --id 1ABGqH_mdeCAqYpI3iI-DTkzN9u02txeh

In [ ]:
! unzip /content/hr_analitic.zip

# Чтение данных

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/aug_train.csv')

In [ ]:
df

# Основные операции с датафреймом

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df['city']

In [ ]:
df[['city']]

In [ ]:
df[['city', 'city_development_index']]

In [ ]:
len(df)

In [ ]:
df.drop('city',axis=1)

In [ ]:
df.columns

In [ ]:
df['new_col1'] = 1

In [ ]:
df['new_col2'] = df['city_development_index']/3

In [ ]:
df.assign(new_col3=99)

# Фильтрация и ворнинги

In [ ]:

df[df['city'] == 'city_40']

In [ ]:
df.query('city=="city_40"')

In [ ]:
df[(df['city']=='city_40')&(df['gender']=='Male')]

In [ ]:
df.query('city=="city_40" and gender=="Male"')

In [ ]:
city_40_female = df[(df['city']=='city_40')&(df['gender']=='Female')]

In [ ]:
city_40_female

In [ ]:
city_40_female['new_col4'] = 56

In [ ]:
city_40_female = df[(df['city']=='city_40')&(df['gender']=='Female')].copy()

In [ ]:
city_40_female['new_col4'] = 56

# Пропуски

In [ ]:
df.isna().mean()

In [ ]:
df.isna().mean().sort_values(ascending = False)

In [ ]:
df.info()

In [ ]:
df.dtypes

# Типы переменных

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('dark_background')

In [ ]:
df['city_development_index'].hist()

In [ ]:
df.describe()

In [ ]:
df['gender'].value_counts()

In [ ]:
df['gender'].value_counts(dropna=False)

# Фильтрация по квантилю

In [ ]:
q = df['city_development_index'].quantile(0.25)

In [ ]:
q

In [ ]:
df[df['city_development_index']<q]

In [ ]:
len(df[df['city_development_index']<q])/len(df)

In [ ]:
q = df['city_development_index'].quantile(0.01)
q

In [ ]:
df['city_development_index'].hist()

In [ ]:
df[df['city_development_index']>=q]['city_development_index'].hist()

In [ ]:
q1 = df['city_development_index'].quantile(0.05)
q2 = df['city_development_index'].quantile(0.95)

In [ ]:
df[df['city_development_index'].between(q1,q2)]['city_development_index'].hist()

# Сводники

In [ ]:
df

In [ ]:
df['target'].mean()

In [ ]:
df.groupby('gender')['target'].mean()

In [ ]:
df.groupby('gender')['target'].agg(['count', 'mean'])

In [ ]:
t = df.groupby('gender')['target'].agg(['count', 'mean'])

In [ ]:
t['count'].sum()

In [ ]:
t = df.groupby('gender', dropna=False)['target'].agg(['count', 'mean'])

In [ ]:
t

In [ ]:
t['count'].sum()

In [ ]:
df.groupby('education_level', dropna=False)['target'].agg(['count', 'mean'])

In [ ]:
df.groupby('education_level', dropna=False)['target'].mean().plot()

In [ ]:
df.groupby('education_level', dropna=False)['target'].mean().plot(kind='bar')

# Сводники для непрерывных переменных

In [ ]:
df['city_development_index_cut'] = pd.cut(df['city_development_index'], 5)

In [ ]:
df.groupby('city_development_index_cut')['target'].agg(['count', 'mean'])

In [ ]:
df['city_development_index_cut_q'] = pd.qcut(df['city_development_index'], 5)

In [ ]:
df['city_development_index_cut_q'] = pd.qcut(df['city_development_index'], 5, duplicates = 'drop')

In [ ]:
t = df.groupby('city_development_index_cut_q')['target'].agg(['count', 'mean'])

In [ ]:
t

In [ ]:
t['count'].sum()

In [ ]:
t['mean'].plot()

In [ ]:
df['city_development_index_cut_custom'] = pd.cut(df['city_development_index'], [-float('inf'),0,0.1,0.2,0.5, float('inf')])

In [ ]:
df.groupby('city_development_index_cut_custom')['target'].agg(['count', 'mean'])

# Группировка категориальных переменных

In [ ]:
df.groupby('education_level', dropna=False)['target'].agg(['count', 'mean'])

In [ ]:
def education_group(x):
  if x in ['High School', 'Primary School']:
    return 'School'
  if x in ['Masters', 'Phd']:
    return 'Masters_and_phd'
  return x

In [ ]:
df['new_education_level'] = df['education_level'].apply(education_group)

In [ ]:
df.groupby('new_education_level', dropna=False)['target'].agg(['count', 'mean'])

In [ ]:
df['education_level'].replace('Primary School', 'School').replace('High School','School')

In [ ]:
d = {'Primary School':'School'}

In [ ]:
df['education_level'].map(d)

# Функция с несколькими столбцами

In [ ]:
def new_training_hours(row):
  if row['education_level'] =='Phd':
    return row['training_hours']+1000
  return row['training_hours']

In [ ]:
df['new_training_hours'] = df.apply(new_training_hours, axis=1)

In [ ]:
df[df['education_level'] == 'Phd']

# Pivot table

In [ ]:
df.groupby('new_education_level', dropna=False)['target'].agg(['count','mean'])

In [ ]:
df['new_education_level'] = df['new_education_level'].fillna('no_info')

In [ ]:
t

In [ ]:
t.reset_index()

In [ ]:
t.columns.values

In [ ]:
['_'.join(col).strip() for col in t.columns.values]

In [ ]:
t = df.pivot_table(index='new_education_level', values='target', aggfunc=['count', 'mean'])

In [ ]:
t.columns = ['_'.join(col).strip() for col in t.columns.values]

In [ ]:
t.reset_index()

In [ ]:
df.pivot_table(index='new_education_level', columns = 'gender',
                   values='target', aggfunc=['count', 'mean'])

In [ ]:
df.groupby(['new_education_level', 'gender'], dropna=False)['target'].agg(['count','mean'])

In [ ]:
df.groupby(['new_education_level', 'gender'], dropna=False)[['target', 'city_development_index']].agg(['count','mean'])

In [ ]:
t = (df.groupby(['new_education_level', 'gender'], dropna=False)
[['target', 'city_development_index']]
.agg(['count','mean'])).reset_index()

In [ ]:
t.columns = ['_'.join(col).strip() for col in t.columns]

In [ ]:
t

# Heatmap

In [ ]:
df['gender'] = df['gender'].fillna('no_info')

In [ ]:
t =df.pivot_table(index='new_education_level', 
               columns ='gender', values = 'target', aggfunc=['mean'])

In [ ]:
t

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(t)